<html>
  <head>
    <style>
      fieldset {background-color: greenyellow;}
    </style>
 </head>
  <body>
    <form action="../controllers/book_appointment.php" method="POST">
      <fieldset>
        <h1 style="color:blue;">
        <legend>Book Appointment</legend></h1>

        <label>Name</label><input type="text" name="name" />

        <label></label>Email address<input type="email" name="email" />

        <label></label>Phone number<input type="tel" name="phone" />
      </fieldset>

      <fieldset>
        <h2 style="color:blue;">
        <legend>Appointment Request</legend></h2>
        <label>Date of Birth </label
        ><input type="date" name="appointment_date" />

        <label> Morning </label>
        <input
          type="radio"
          name="shift_desired"
          id="morning"
          value="morning_desired"
        />

        <label> Afternoon </label>
        <input
          type="radio"
          name="shift_desired"
          id="afternoon"
          value="afternoon_desired"
        />

        <p>Confirmation requested by</p>
        

        <label>Email</label>
        <input
          type="radio"
          name="confirmation_requested_by"
          id="confirmation_requested_by_email"
          value="email"
        />
      

        <label>Phone call</label>
        <input
          type="radio"
          name="confirmation_requested_by"
          id="confirmation_requested_by_phone"
          value="phone"
        />
      </fieldset>
      <input type="submit" name="submit" value="Submit" />
    </form>
  </body>
</html>
