<html>
  <head>
    <style>
      fieldset {background-color: greenyellow;}
    </style>
  </head>
  <body>
    <form
      action="../controllers/cancel_appointment.php"
      method="POST"
    >
      <fieldset>
        <h1 style="color:blue;">
        <legend>Cancel Appointment</legend>
        </h1>

        <label>Name</label><input type="text" name="name" />

        <label>Email address</label><input type="email" name="email" />

        <label>Phone number</label><input type="tel" name="phone" />
      </fieldset>

      <fieldset>
        <h2 style="color:blue;">
        <legend>Cancel Appointment Request</legend>
      </h2>

        <p>Cancel confirmation by</p>

        <label>Email</label
        ><input
          type="radio"
          name="cancel_requested_by"
          id="cancel_requested_by_email"
          value="email"
          checked
        />

        <label>Phone call</label
        ><input
          type="radio"
          name="cancel_requested_by"
          id="cancel_requested_by_phone"
          value="phone"
        />
      </fieldset>
      <input type="submit" name="submit" value="Submit" />
    </form>
  </body>
</html>
