<html>
<title>
</title>
<body>
<form action="../controllers/cancel_appointment.php" id="ft-form" method="POST" >
  <fieldset>
    <legend>Cancel Appointment</legend>

    <label>Name<input type="text" name="name"></label>

    
    <label>Email address<input type="email" name="email"></label>

    <label>Phone number<input type="tel" name="phone"></label>

    
  </fieldset>

  <fieldset>
    <legend>Cancel appointment request</legend>

     <p>Cancel confirmation by</p>
    
      <label><input type="radio" name="Confirmation requested by" value="email" checked>Email</label>

      <label><input type="radio" name="Confirmation requested by" value="phone">Phone call</label>
  
  </fieldset>
  <input type="submit" name="submit" value="Submit request">
</form>
</body>
</html>