<html>
<title></title>
<body align="center">
    <fieldset>
        <legend><h1>Prescription</h1></legend>


            <label for="file">DESLOR (1+0+0) </label><br>
            <progress id="file" value="33" max="100"> 33% </progress><br>

            <label for="file">TENALOK (1+1+0)</label><br>
            <progress id="file" value="66" max="100"> 66% </progress><br>

            <label for="file">NAPA(1+1+1)</label><br>
            <progress id="file" value="100" max="100"> 100% </progress>
            
    </fieldset>
</body>
</html>