<html>
<title></title>
<body align="center">
	<fieldset>
		<legend><h1>Doctor's Status</h1></legend>


            <label for="file">Free from 1 PM to 2 PM</label>
            <progress id="file" value="70" max="100"> 70% </progress><br>

            <label for="file">Busy from 2 PM to 3 PM</label>
            <progress id="file" value="90" max="100"> 90% </progress><br>

            <label for="file">Free from 3 PM to 4 PM</label>
            <progress id="file" value="50" max="100"> 50% </progress>
            
	</fieldset>
</body>
</html>