<html>
<body align="center">

<h1>Select Specialized Department</h1>

<p>The name attribute specifies the name for a drop-down list:</p>

<form action="../controllers/select_department.php" method="POST">
  <label for="department">Choose a Department:</label>
  <select name="department" id="departments">
    <option value="cancer specialist">Cancer Specialist</option>
    <option value="medicine specialist">Medicine Specialist</option>
    <option value="kidney specialist">Kidney Specialist</option>
    <option value="liver specialist">Liver Specialist</option>
    <option value="diabetics specialist">Diabetics Specialist</option>
    <option value="ent specialist">ENT Specialist</option>
  </select>
  <br><br>
  <input type="submit" value="Submit" name="submit">
</form>

</body>
</html>
